.image {
  width: 600px;
  height: 400px;
}

.logo {
  position: absolute;
  top: 120px; /* Adjust the top position as needed */
  left: 40px; /* Adjust the left position as needed */
  width: 300px; /* Adjust the logo width as needed */
  z-index: 2; /* Ensure the logo appears above the background image */
}

@font-face {
  font-family: "Sectra"; 
  src: url("./fonts/file.otf") format("opentype");
}

@font-face {
  font-family: "Graphik"; 
  src: url("./fonts/file.ttf") format("truetype"); 
}
